.refreshmentHomePageHero {
    @media (min-width: 992px) {
        background-size: 50%;
        background-position: top left;
        background-repeat: no-repeat;
    }
}

.refreshmentHomePageSection {
    background-image: url("/refreshment/bg-wave-mv.webp");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30%;

    @media (min-width: 576px) {
        padding-bottom: 20%;
    }

    @media (min-width: 768px) {
        // background-image: url("/refreshment/bg-wave.webp");
        padding-bottom: 10%;
    }

    @media (min-width: 992px) {
        padding-bottom: 7%;
    }
}

.refreshmentHomePagePosts {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20rem;
    height: 35rem;
}